@keyframes canary-led-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); }
  }

.canary-led-wrapper {
  max-width: 1440px;
  margin: 40px auto;
  padding: 40px;
  background-color: #fff; 
}

#theme-info-page {
  font-size: 17px;
  line-height: 1.7;
 }

.canary-led-wrapper .admin-banner, .compare-table table th, .about-us .our-product {
  background: linear-gradient(105deg, #000090, #0E6415);
}

.canary-led-wrapper .admin-banner {
  display: grid;
  max-width: 100%;
  justify-content: center;
  padding: 40px;
  margin: 0 0 30px 0; 
}

.banner-left {
    text-align: center;
}

.canary-led-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.canary-led-wrapper .admin-banner h2 {
  margin: 0;
  color: #fff;
  font-size: 3rem;
  line-height: 1.2; 
}
.canary-led-wrapper .admin-banner p {
  color: #fff; 
}

.canary-led-admin-button {
  padding: 10px 30px;
  text-decoration: inherit;
  background: #000090;
  color: #fff;
  font-size: 16px;
  line-height: 2.0;
  display: flex;
  gap: 10px;
}

.canary-led-admin-button.upgrade-to-pro {
  background: #d63638;
}

.canary-led-admin-button.demo {
  background: #0A5F15;
}

.canary-led-admin-button.documentation {
  background: #02649C;

}

.canary-led-admin-button.documentation, .canary-led-admin-button.demo, .canary-led-admin-button.upgrade-to-pro {
  margin-left: 5px;
  color: #fff;
}

.canary-led-admin-button:hover, .canary-led-admin-button:focus {
  opacity: 0.7;
  color: #fff;
}

.compare-table table th {
  border-bottom: 1px solid #000090;
  padding: 15px;
  color: #fff; 
}
.compare-table table tr:nth-child(2n) td {
  background: #E5E5E5; 
}
.compare-table table {
  border: 1px solid #f5f5f5;
  border-spacing: 0;
  width: 100%;
}
.compare-table table td {
  padding: 1em;
  text-align: center;
  border: 1px solid #f5f5f5;
}
.compare-table table td span {
  font-size: 30px;
  color: #d63638;
}
.compare-table table td span.dashicons.dashicons-yes {
  text-align: center;
  color: #0E6415; 
}

.about-us {
  display: grid;
  grid-gap: 30px;
  margin: 30px 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  
}
.about-us .our-product {
  padding: 30px;
  color: #fff;
  text-align: center; 
}
.about-us .our-product h3 {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 15px 0;
  color: #fff; 
}
.about-us .our-product .canary-led-admin-button {
  margin-top: 5px;
  display: inline-block; 
}
.about-us .our-product p,
.about-us .our-product h4 {
  font-size: 17px;
  line-height: 1.7;
  margin: 0 0 15px; 
}

.theme-canary-demo-import {
  background-color: #c0d6e4;
  text-align: center;
  padding: 40px;
}
.theme-canary-demo-import a.canary-led-admin-button {
  display: inline-block;
  margin-bottom: 10px;
}
.theme-canary-demo-import a.canary-led-admin-button span {
  margin: 7px 7px 0;
}
.dashicons-update {
  animation: canary-led-spin 2s linear infinite;
}
.theme-canary-demo-import small {
  display: block;
  font-style: italic; 
}